{
    "log": {
      "level": "debug"
    },
    "inbounds": [
      {
        "type": "tun",
        "interface_name": "tun0",
        "domain_strategy": "ipv4_only",
        "address": ["172.16.250.1/30"],
        "auto_route": false,
        "strict_route": false,
        "sniff": true 
     }
    ],
    "outbounds": [
      {
        "type": "$TYPE",
        "server": "$HOST",
        "server_port": $PORT,
        "method": "$METHOD",
        "password": "$PASS"
      }
    ],
    "route": {
      "auto_detect_interface": true
    }
  }